@(message: String)

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


@import helper._

@main("Dashboard") {
<script type='text/javascript' src='@routes.Assets.at("myFriends.js")'></script>
<ul id="friends"></ul>
<form role="form" action="@routes.Application.showFriends()" method="POST">

<button type="submit" class="btn btn-success">Show Friends</button>
</form>


}